[submodule "account_check_batch"]
	path = account_check_batch
	url = git@gitlab.com:rightechs/addons/account_check_batch.git
	branch = erc
[submodule "base_real_estate"]
	path = base_real_estate
	url = git@gitlab.com:rightechs/addons/base_real_estate.git
	branch = erc
[submodule "elsaka_payment_order"]
	path = elsaka_payment_order
	url = git@gitlab.com:rightechs/addons/elsaka_payment_order.git
	branch = real_estate16
[submodule "invoice_ar_ap"]
	path = invoice_ar_ap
	url = git@gitlab.com:rightechs/addons/invoice_ar_ap.git
	branch = 16.0
[submodule "rt_customer_account_statement"]
	path = rt_customer_account_statement
	url = git@gitlab.com:rightechs/addons/rt_customer_account_statement.git
	branch = 16.0
[submodule "rt_print_voucher"]
	path = rt_print_voucher
	url = git@gitlab.com:rightechs/addons/rt_print_voucher.git
	branch = 16.0
[submodule "rt_filter_account"]
	path = rt_filter_account
	url = git@gitlab.com:rightechs/custom_addons/rt_filter_account.git
	branch = 16.0
[submodule "rt_account_check"]
	path = rt_account_check
	url = git@gitlab.com:rightechs/extra_addons/rt_account_check.git
	branch = real_estate16
[submodule "rt_account_payment_fix"]
	path = rt_account_payment_fix
	url = git@gitlab.com:rightechs/extra_addons/rt_account_payment_fix.git
	branch = 16.0
[submodule "purchase_request"]
	path = purchase_request
	url = git@gitlab.com:rightechs/addons/purchase_request.git
	branch = erc
[submodule "stock_analytic"]
	path = stock_analytic
	url = git@gitlab.com:rightechs/custom_addons/stock_analytic.git
	branch = 16.0
[submodule "stock_request_purchase"]
	path = stock_request_purchase
	url = git@gitlab.com:rightechs/custom_addons/stock_request_purchase.git
	branch = 16.0
[submodule "stock_request_analytic"]
	path = stock_request_analytic
	url = git@gitlab.com:rightechs/custom_addons/stock_request_analytic.git
	branch = 16.0
[submodule "stock_request"]
	path = stock_request
	url = git@gitlab.com:rightechs/custom_addons/stock_request.git
	branch = 16.0
[submodule "rt_website_purchase_request"]
	path = rt_website_purchase_request
	url = git@gitlab.com:rightechs/custom_addons/rt_website_purchase_request.git
	branch = 16.1
[submodule "rt_portal_stock_request"]
	path = rt_portal_stock_request
	url = git@gitlab.com:rightechs/custom_addons/rt_portal_stock_request.git
	branch = 16.0
[submodule "rt_website_portal_product"]
	path = rt_website_portal_product
	url = git@gitlab.com:rightechs/custom_addons/rt_website_portal_product.git
	branch = 16.0
[submodule "rt_share_user"]
	path = rt_share_user
	url = git@gitlab.com:rightechs/addons/rt_share_user.git
	branch = 16.0
[submodule "warehouse_stock_restrictions"]
	path = warehouse_stock_restrictions
	url = git@gitlab.com:rightechs/extra_addons/warehouse_stock_restrictions.git
	branch = 16.0
[submodule "account_journal_security"]
	path = account_journal_security
	url = git@gitlab.com:rightechs/extra_addons/account_journal_security.git
	branch = 16.0
